<nav class="navbar navbar-expand-lg navbar-light bg-light px-3 px-md-4 navbar-3d">
  <a class="navbar-brand d-flex align-items-center" href="/">
    <img src="/kissaistack.svg" alt="logo" width="50" height="50" class="me-2">
    KISS AI Stack
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/docs">Documentation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/kiss-ai-stack">GitHub</a>
      </li>
    </ul>
  </div>
</nav>

<style>
  .navbar-3d {
    z-index: 1000;
    box-shadow:
      0 1px 1px rgba(0, 0, 0, 0.1)
  }
</style>
