---
layout: default
---

<header class="hero-section bg-light py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 mx-auto text-center">
        <img src="kissaistack.svg" alt="logo" class="mb-4" style="max-width: 200px;">
        <h1 class="display-5 fw-bold text-primary mb-3">
          KISS AI STACK
        </h1>
        <p class="lead mb-4">
          {{ site.description }}
        </p>
        <a href="/docs/" class="btn btn-primary btn-lg px-4 gap-3">
          Get Started
        </a>
      </div>
    </div>
  </div>
</header>

<section class="container my-5">
  <div class="row">
    <div class="col-md-3">
      <div class="card h-100 border-0 shadow-sm">
        <div class="card-body text-center">
          <i class="fas fa-brain fa-3x text-primary mb-3"></i>
          <h3 class="card-title fw-bold mb-3">Smart Tools</h3>
          <p class="card-text">
            Use RAG and prompt tools easily! Switch between generating with data or direct prompts using one config. This mini-framework becomes flexible, ready for any task in seconds.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card h-100 border-0 shadow-sm">
        <div class="card-body text-center">
          <i class="fas fa-magic fa-3x text-primary mb-3"></i>
          <h3 class="card-title fw-bold mb-3">Effortless Setup</h3>
          <p class="card-text">
            Build a RAG solution quickly and simply! A YAML config makes it easy to set up without writing any code. Just define, deploy, and get started.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card h-100 border-0 shadow-sm">
        <div class="card-body text-center">
          <i class="fas fa-server fa-3x text-primary mb-3"></i>
          <h3 class="card-title fw-bold mb-3">Quick Server Setup</h3>
          <p class="card-text">
            Complex AI services can be set up easily! A server stub simplifies the process, allowing an AI server to be created with minimal code.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card h-100 border-0 shadow-sm">
        <div class="card-body text-center">
          <i class="fas fa-plug fa-3x text-primary mb-3"></i>
          <h3 class="card-title fw-bold mb-3">Client SDK</h3>
          <p class="card-text">
            Connecting to AI services is made simple! The SDK removes the complexity of back and forth communication, enabling seamless interaction with the RAG server.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<br><br><br>
{% include footer.html %}
